:root {
  --highlight-color: #2000e7;
  --section-baground-first: #43bafd0f;
  --section-baground-second: #ffd69633;
  --shadow-color: #00000040;
  --pink: #F965FC;
}

.d-flex {
  display: flex;
}

.ta-center {
  text-align: center;
}

.yellow {
  color: #f2bd00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--highlight-color);
}

textarea {
  resize: none;
}

section {
  margin: 100px 0;
}

footer {
  font-family: 'Jost', sans-serif;
  background-color: #FFD69633;
}

.container {
  width: 1500px;
  margin: 0 auto;
  padding: 50px 65px;
}

.container_header {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.logo {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: #0e0578;
  text-decoration: none;
}

.main-menu {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #686565;
  gap: 80px;
  margin-right: 50px;
}

.main-menu__item,
.nav__item {
  list-style-type: none;
}

.main-menu__link,
.nav__link {
  color: inherit;
  text-decoration: none;
}

.container_me {
  gap: 80px;
}

.my-photo {
  max-width: 564px;
  max-height: 564px;
}

.container_about {
  width: 1550px;
  align-items: center;
  gap: 50px;
}

.about__info {
  width: 30%;
}

.about__text {
  margin-bottom: 50px;
}

.info__greeting {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--highlight-color);
}

.info__main {
  margin: 20px 20px 60px 0;
}

.button {
  font-size: 1rem;
  width: 10.25rem;
  height: 3rem;
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
  line-height: 1.5rem;
  box-shadow: 11px 21px 15px 6px var(--shadow-color);
}

.button:hover {
  cursor: pointer;
}

.button-hire {
  background-color: var(--highlight-color);
  color: white;
}

.button-project {
  color: var(--highlight-color);
  margin-left: 80px;
}

.about__header {
  letter-spacing: 0.35em;
}

.my-projects {
  background-color: var(--section-baground-second);
}

.container_my-projects {
  width: 1300px;
}

.my-projects__header {
  letter-spacing: 0.2em;
}

.projects {
  margin-top: 50px;
  display: grid;
  grid-gap: 30px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.contacts {
  background-color: var(--section-baground-first);
}

.container_contacts {
  margin: 150px auto;
}

.contacts__header {
  font-size: 2.67rem;
  line-height: 4rem;
  letter-spacing: 0.27em;
}

.contacts__form {
  text-align: center;
}

.contacts__input,
.contacts__textarea {
  width: 653px;
  height: 94px;
  background-color: white;
  font-size: 1.33rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  border: none;
  box-shadow: 13px 21px 4px 0 var(--shadow-color);
}

.contacts__textarea {
  height: 265px;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
  color: black;
}

.contacts__button {
  font-size: 1.33rem;
  background-color: white;
  box-shadow: 13px 21px 4px 0 var(--shadow-color);
  border-radius: 0;
  border: none;
}

.container_contacts-form {
  background-image: url("images/saly.png");
  background-repeat: no-repeat;
  background-position: 510px -20px;
  padding: 140px 0;
}

.container_footer {
  gap: 50px;
  border-bottom: 2px solid black;
}

.logo_footer {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.35em;
}

.nav_footer {
  flex: 1;
  justify-content: space-around;
}

.nav__item {
  font-size: 1.3rem;
  line-height: 1.875rem;
  margin-bottom: 50px;
}

.nav__item_header {
  font-weight: bold;
}

.subscribe-form {
  margin-left: -50px;
  margin-top: 30px;
}

.subscribe-form__input {
  font-size: 1.3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  height: 97px;
  padding: 30px;
}

.subscribe-form__input::placeholder {
  color: white;
}

.button_subscribe {
  font-size: 1.3rem;
  height: 97px;
  background-color: var(--pink);
  color: white;
  border: none;
  border-radius: 30px;
  margin-left: -100px;
  box-shadow: none;
}

.extra-info {
  width: 1600px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
}

.social__item {
  display: block;
  width: 70px;
  height: 60px;
  margin-left: 80px;
  background-color: var(--pink);
}